# ============================
# Gradle and build artifacts
# ============================
build/
out/
.gradle/
!.gradle/keeps # если нужно
project/.gradle/

# ============================
# IntelliJ / IDE / System
# ============================
.idea/
.vscode/
*.iml
*.ipr
*.iws

# ============================
# Logs
# ============================
*.log

# ============================
# OS files
# ============================
.DS_Store
Thumbs.db

# ============================
# Git
# ============================
.git
.gitignore

# ============================
# Environment / Secrets
# ============================
.env
*.pem
*.key
*.crt

# ============================
# Kotlin/Java temporary
# ============================
*.class
*.jar
*.war

# ============================
# Docker build context optimization
# ============================
docker/
deploy/
scripts/
